<!DOCTYPE html>
<html lang="en">
<head>
    <link type = "text/css" href="../static/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>about us.</title>


</head>
<body>
    <h1 class="heading">about us.</h1>
    <div class="btn-group">
      <a class = "button" href="/">Home</a>
    <a class = "button" href="/appstart">Become a partner!</a>
      <a class = "button" href="/restfeed">partner feed (haha)</a>
      <a class = "button" href="/aboutus">About</a>
      <a class = "button" href="/contactus">Contact Us</a>
  </div>
    <p>The idea of foodShare stemmed from a hackathon our highschool hosted. We wanted a simple way for local restaurants and homeless shelters to communicate with one another all in one space.
</p>
    <p>We aspire to allow for businesses (restaurants, bakeries, etc) across the nation to feed homeless communities, while simultaneously improving the environment by reducing food waste. In the future, we hope to continue expanding the reach of our website and adding more functionalities to help improve the user experience, and further connect homeless communities with businesses to pave the road towards our goal of zero food waste.
</p>
</body>
</html>