<!DOCTYPE html>
<html lang="en">
<head>
    <link type = "text/css" href="../static/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>about us.</title>


</head>
<body>
    <h1 class="heading">get in touch.</h1>
    <div class="btn-group">
      <a class = "button" href="/">Home</a>
    <a class = "button" href="/appstart">Become a partner!</a>
      <a class = "button" href="/restfeed">partner feed (haha)</a>
      <a class = "button" href="/aboutus">About</a>
      <a class = "button" href="/contactus">Contact Us</a>
  </div>
    <a class="heading" href="https://forms.gle/3ksQUjaEAU4xWJ6e8">click on the link :)</a>
</body>
</html>