<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FoodShare</title>
<!--   <img src="OIP.jpg" alt="foodImage" class = "img"> -->
  <link type = "text/css" href="../static/css/styles.css" rel="stylesheet">

</head>

<body>
  <div class="alignment">
    <h1 class="heading">foodShare.</h1>
      <a href="/appstart">link to signup</a>
  </div>
<!--   <div class = "alignment"> -->
    <div class="btn-group">
      <a class = "button" href="/">Home</a>
    <a class = "button" href="/appstart">Become a partner!</a>
      <a class = "button" href="/restfeed">partner feed (haha)</a>
      <a class = "button" href="/aboutus">About</a>
      <a class = "button" href="/contactus">Contact Us</a>
  </div>
  <p>With every passing day, <b>millions</b> of families face the constant struggle of figuring out their next meal and battling the continual, desperate fight against hunger. This issue has recently been amplified, especially with the alarming increase in the number of Americans suffering from food insecurity, due to the pandemic. In fact, studies have shown that approximately <b>one in every four American households were food insecure in 2020</b>, as a result of the pandemic. Consisting of well over <b>40 million Americans</b>, this population of individuals who experience food insecurity, are forced to undergo <b>dehumanizing hunger</b> and a <b>severe lack of nutrition</b>. Because much of this population is part of homeless communities, foodShare aims to provide an <b>effective solution</b> to food insecurity by <b>connecting homeless shelters with businesses.</b></p>
    <p>In order to effectively construct a nationwide communication network between restaurants and homeless people, we created a main feed where homeless shelters can browse through a list of local restaurants that meet their needs, in terms of the number of meals available and location. Upon finding a suitable restaurant, they can easily connect with them, through preferred contact info,  to decide on an appropriate pick-up location.
</p>
<h4 class="h4">three main goals:</h4>
<ul>
    <li>Reduce food insecurity & solve hunger</li>
    <li>Conserve resources & improve the environment</li>
    <li>Build a more closely bonded community</li>
</ul>
<br>
<br>
<br>
</body>
</html>
